.title {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  flex: 0 1 auto;
  margin-left: auto;
}

.button:disabled {
  background-color: #03a9f4;
}

.md-32 {
  height: auto;
  font-size: 32px;
}
