<div [class.hidden]="isFormOpen">
  <app-toolbar
    [disabledOpenForm]="disabledOpenForm"
    (buttonClick)="toggleForm($event)"
  ></app-toolbar>
  <div class="projects-container">
    <div class="projects">
      <app-project
        class="project"
        *ngFor="let project of projects"
        [project]="project"
        (closeProject)="destroyProject($event)"
      ></app-project>
      <div class="form" *ngIf="isFormOpen">
        <app-newTodo
          (outNewTodo)="createNewTodo($event)"
          (closeForm)="toggleForm($event)"
          [projects]="projects"
        ></app-newTodo>
      </div>
    </div>
  </div>
</div>
